@charset "utf-8";

.btn_style_0_wrap{display: flex; align-items: center; justify-content: center;}
.btn_style_0_wrap .btn_style_0_con{flex:1; margin-right: 8px;}
.btn_style_0_wrap .btn_style_0_con:last-child{margin-right: 0;}
.btn_style_0_con{}
.btn_style_0_con .btn_style_0{display: flex; align-items: center; justify-content: center; height: 70px; font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; letter-spacing: 0em; font-weight: 400; color:#fff; text-align: center; background-color: #ff776a; border:1px solid #ff776a; box-sizing: border-box;}
.btn_style_0_con .btn_style_0.gray{background-color: #999; border-color: #999;}
.btn_style_0_con .btn_style_0.white{color:#666; background-color: #fff; border-color:#ccc;}
