@charset "utf-8";
body{overflow:auto; -webkit-text-size-adjust:none; -webkit-overflow-scrolling:touch; -webkit-font-smoothing: antialiased;}
.point0{color:#ff5d4e !important;}
.point1{color:#13426b !important;}
.point2{color:#666666 !important;}
.point3{color:#ef8009 !important;}
.point_border{display:inline-block; border-bottom:2px solid #ff5d4e; line-height:34px;}

.desc_font_0{font-size:28px; font-size:2.8rem; line-height:42px; line-height:4.2rem; font-weight: 400; color:#111; word-break: keep-all;}
.desc_font_1{font-size:28px; font-size:2.8rem; line-height:46px; line-height:4.6rem; font-weight: 400; color:#666; word-break: keep-all;}
.desc_font_2{font-size:28px; font-size:2.8rem; line-height:42px; line-height:4.2rem; font-weight: 400; color:#333; word-break: keep-all;}
.desc_font_3{font-size:26px; font-size:2.6rem; line-height:38px; line-height:3.8rem; font-weight: 400; color:#333; word-break: keep-all;}
.desc_font_4{font-size:28px; font-size:2.8rem; line-height:46px; line-height:4.6rem; font-weight: 400; color:#333; letter-spacing: -0.025em; word-break: keep-all;}

.hr_style_0{border-bottom:2px solid #ff5d4e;}
.hr_style_0.width60{width:60px;}
.hr_style_0.height1{border-width: 1px;}
.hr_style_0.height3{border-width: 3px;}

.hr_style_1{border-bottom:15px solid #f1f1f1;}

.hr_style_2{border-bottom: 1px solid #ccc;}

.btn_style_0_wrap{display: flex; align-items: center; justify-content: center;}
.btn_style_0_wrap .btn_style_0_con{flex:1; margin-right: 8px;}
.btn_style_0_wrap .btn_style_0_con.mlauto .btn_style_0{margin-left:auto;}
.btn_style_0_wrap .btn_style_0_con.mr7{margin-right: 7px;}
.btn_style_0_wrap .btn_style_0_con.mr8{margin-right: 8px;}
.btn_style_0_wrap .btn_style_0_con.mr23{margin-right: 23px;}
.btn_style_0_wrap .btn_style_0_con:last-child{margin-right: 0;}
.btn_style_0_con{}
.btn_style_0_con .btn_style_0{display: flex; align-items: center; justify-content: center; height: 70px;
    font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; letter-spacing: 0em; font-weight: 400; color:#fff;
    text-align: center; background-color: #ff776a; border:1px solid #ff776a; box-sizing: border-box;}
.btn_style_0_con .btn_style_0.small{height:60px; display:inline-flex; padding-left: 15px; padding-right: 15px;}
.btn_style_0_con .btn_style_0.middle{height:70px; display:inline-flex; padding-right:42px; padding-left:42px;}
.btn_style_0_con .btn_style_0.gray{background-color: #999; border-color: #999;}
.btn_style_0_con .btn_style_0.white{color:#666; background-color: #fff; border-color:#ccc;}
.btn_style_0_con .btn_style_0.point_color{color:#ff5d4e; background-color: #fff; border-color:#ff5d4e;}
.btn_style_0_con .btn_style_0.big{height: 120px;}
.btn_style_0_con .btn_style_0.width160{width:160px;}
.btn_style_0_con .btn_style_0.width168{width:168px;}
.btn_style_0_con .btn_style_0.width225{width:225px;}
.btn_style_0_con .btn_style_0.width250{width:250px;}
.btn_style_0_con .btn_style_0.width260{width:260px;}
.btn_style_0_con .btn_style_0.width340{width:340px;}
.btn_style_0_con .btn_style_0.width360{width:360px;}

.btn_style_0_wrap.type_2{flex-wrap: wrap; justify-content: flex-start; width: calc(100% + 10px); margin-left: -10px; margin-bottom: -10px;}
.btn_style_0_wrap.type_2 .btn_style_0_con{flex:0 0 auto; width: 33.33%; padding-left: 10px; margin-right: 0; margin-bottom: 10px; box-sizing: border-box;}
.btn_style_0_wrap.type_3{flex-wrap: wrap; justify-content: flex-start; width: calc(100% + 10px); margin-left: -10px; margin-bottom: -10px;}
.btn_style_0_wrap.type_4 .btn_style_0_con{width:auto;}
.btn_style_0_wrap.type_3 .btn_style_0_con{width:25%;}
.btn_style_0_wrap.type_5{flex-wrap: wrap; justify-content: flex-start; width: calc(100% + 10px); margin-left: -10px;}
.btn_style_0_wrap.type_5 .btn_style_0_con{flex:1;}

.select_style_0_wrap{}
.select_style_0{width: 100%; font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; letter-spacing: -0.025em; font-weight: 400; color:#111;
    border:1px solid #ccc; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; padding-top:13px; padding-bottom: 15px; padding-left:17px; padding-right: 20px;
    background-image: url('../img/select_style_0_arrow.png'); background-repeat: no-repeat; background-size: 22px 12px; background-position: right 20px center; box-sizing: border-box;}
.select_style_0.type_2{background-position: right 10px center;}
.select_style_0.width150{width: 150px;}
.select_style_0.width259{width: 259px;}

/* pagination_style_0_wrap */
.pagination_style_0_wrap{font-size: 0; line-height: 0;}
.pagination_style_0_wrap .button_container{display: flex; justify-content: space-between; align-items: center; font-size:0; white-space:nowrap; text-align: center;}
.pagination_style_0_wrap .button_container li{position: relative; display: inline-flex; align-items: center; justify-content: center; text-align: center; background-repeat: no-repeat; background-position: center center;
    cursor: pointer; font-weight: 500; width:72px; height:72px; border:1px solid #ccc; box-sizing: border-box; transition: all .3s;}
.pagination_style_0_wrap .button_container li.btn_singlePage{z-index: 0; text-indent: -10000px;}
.pagination_style_0_wrap .button_container li.btn_singlePage.btn_firstPage{background-image: url('../img/pagination_style_0_double_left_arrow.png'); background-size: 33px 23px;}
.pagination_style_0_wrap .button_container li.btn_singlePage.btn_prevPage{background-image: url('../img/pagination_style_0_single_left_arrow.png'); background-size: 17px 23px;}
.pagination_style_0_wrap .button_container li.btn_singlePage.btn_nextPage{background-image: url('../img/pagination_style_0_single_right_arrow.png'); background-size: 17px 23px;}
.pagination_style_0_wrap .button_container li.btn_singlePage.btn_lastPage{background-image: url('../img/pagination_style_0_double_right_arrow.png'); background-size: 33px 23px;}
.pagination_style_0_wrap .button_container li.btn_page{font-size:26px; font-size:2.6rem; line-height:32px; line-height:3.2rem; letter-spacing: -0.025em; font-weight: 400; color: #666;  z-index: 1;}
.pagination_style_0_wrap .button_container li.btn_page.selected{color:#fff; background-color: #ff776a; border-color: #ff776a;}
