@charset "utf-8";

.point0{color:#ff5d4e !important;}

.hr_style_0{border-bottom:2px solid #ff5d4e;}
.hr_style_0.width60{width:60px;}
.hr_style_1{border-bottom:15px solid #f1f1f1;}


.btn_style_0_wrap{display: flex; align-items: center; justify-content: center;}
.btn_style_0_wrap .btn_style_0_con{flex:1; margin-right: 8px;}
.btn_style_0_wrap .btn_style_0_con:last-child{margin-right: 0;}
.btn_style_0_con{}
.btn_style_0_con .btn_style_0{display: flex; align-items: center; justify-content: center; height: 70px; font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; letter-spacing: 0em; font-weight: 400; color:#fff; text-align: center; background-color: #ff776a; border:1px solid #ff776a; box-sizing: border-box;}
.btn_style_0_con .btn_style_0.gray{background-color: #999; border-color: #999;}
.btn_style_0_con .btn_style_0.white{color:#666; background-color: #fff; border-color:#ccc;}
.btn_style_0_con .btn_style_0.big{height: 120px;}


.select_style_0_wrap{}
.select_style_0_wrap .select_style_0{width: 100%; font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; letter-spacing: -0.025em; font-weight: 400; color:#111;
    border:1px solid #ccc; border-radius: 0; -webkit-appearance: none; -moz-appearance: none; padding-top:13px; padding-bottom: 15px; padding-left:17px; padding-right: 20px;
    background-image: url('../img/select_style_0_arrow.png'); background-repeat: no-repeat; background-size: 22px 12px; background-position: right 20px center; box-sizing: border-box;}