@charset "utf-8";


/* sub_contents_wrap */
.sub_contents_wrap{}
.sub_contents_wrap .sub_contents_header_con{padding-top:30px; padding-bottom:33px;}
.sub_contents_wrap h2{font-size:32px; font-size:3.2rem; line-height:38px; line-height:3.8rem; color:#111111; font-weight:700;}
.mypage .sub_contents_wrap h2{font-size:30px; font-size:3.0rem; line-height:36px; line-height:3.6rem; color:#111111; font-weight:700;}
.sub_contents_wrap h3{font-size:26px; font-size:2.6rem; line-height:32px; line-height:3.2rem; color:#111111; font-weight:700;}
.sub_contents_wrap h3.short{letter-spacing: -0.05em;}
.sub_contents_wrap .h_desc3{font-size:26px; font-size:2.6rem; line-height:32px; line-height:3.2rem; color:#666666; font-weight:400;}
.sub_contents_wrap .h_desc3.fontweight700{font-weight:700;}

/* tab_style_0_con */
.tab_style_0_con{overflow-x:auto;}
.tab_style_0_con .tab_style_0{display: table; table-layout: fixed; overflow: hidden; min-width:750px; width:100%;}
.tab_style_0_con .tab_style_0 > li{display: table-cell; width:250px; /*float:left;*/ border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; border-left:1px solid #cccccc; box-sizing: border-box;}
.tab_style_0_con .tab_style_0 > li:last-child{border-right:1px solid #cccccc;}
.tab_style_0_con .tab_style_0 > li > a{font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; color:#666666; font-weight:400;
    display:block; padding-top:17px; padding-bottom:17px; box-sizing: border-box; background-color:#fff; text-align: center;}
.tab_style_0_con .tab_style_0 > li.active{border-color:#ff776a;}
.tab_style_0_con .tab_style_0 > li.active > a{background-color:#ff776a; color:#fff;}

.tab_style_0_con.type_2{}
.tab_style_0_con.type_2 .tab_style_0 > li{border-top:none;}
.tab_style_0_con.type_2 .tab_style_0 > li.active{border-color: #13426b;}
.tab_style_0_con.type_2 .tab_style_0 > li.active > a{background-color:#13426b; color:#fff;}

.tab_style_1_con{}
.tab_style_1_con .tab_style_1{width:100%; overflow: hidden;}
.tab_style_1_con .tab_style_1 > li{border-top:1px solid #cccccc; border-bottom:1px solid #cccccc; border-left:1px solid #cccccc; box-sizing: border-box;}
.tab_style_1_con .tab_style_1 > li:last-child{border-right:1px solid #cccccc;}
.tab_style_1_con .tab_style_1 > li > a{font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; color:#666666; font-weight:400;
    display:block; padding-top:17px; padding-bottom:17px; box-sizing: border-box; background-color:#fff; text-align: center;}
.tab_style_1_con .tab_style_1 > li.active{border-color:#ff5d4e;}
.tab_style_1_con .tab_style_1 > li.active > a{background-color:#ffeeed; color:#ff5d4e;}
.tab_style_1_con .tab_style_1 > li.active + li{border-left-color:#ff5d4e;}

/* list_style_0_con */
.list_style_0_con{}
.list_style_0_con .list_style_0{}
.list_style_0_con .list_style_0 > li{font-size:28px; font-size:2.8rem; line-height:42px; line-height:4.2rem; color:#333333; font-weight:400;
    padding-left:10px; box-sizing: border-box; position: relative; margin-bottom:8px;}
.list_style_0_con .list_style_0 > li:last-child{margin-bottom:0;}
.list_style_0_con .list_style_0 > li:after{content:""; position: absolute; top:20px; left:0; width:4px; height:4px; border-radius:50%; background-color:#333333;}

/* form_style_0_con */
.form_style_0_con{border-top:3px solid #ff5d4e; padding-top:30px; border-bottom:3px solid #ff5d4e; padding-bottom:30px;}
.form_style_0_con .form_style_0{}


/* input_list */
.input_list{margin-bottom:10px;}
.input_list:last-child{margin-bottom:0;}
.input_style_0{font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; color:#000;
    width:100%; box-sizing: border-box; border:1px solid #cccccc; height:64px; padding-top:10px; padding-bottom:12px; border-radius:0; background-color:#fff; padding-right:30px; padding-left:30px;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.input_style_0:-moz-placeholder{color:#999999;}
.input_style_0:-ms-input-placeholder{color:#999999;}
.input_style_0::-moz-placeholder{color:#999999;}
.input_style_0::-webkit-input-placeholder{color:#999999;}

.input_style_1{font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; color:#000;
    width:100%; box-sizing: border-box; border:1px solid #cccccc; height:64px; padding-top:10px; padding-bottom:12px; border-radius:0; background-color:#fff; padding-right:30px; padding-left:30px;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.input_style_1:-moz-placeholder{color:#999999;}
.input_style_1:-ms-input-placeholder{color:#999999;}
.input_style_1::-moz-placeholder{color:#999999;}
.input_style_1::-webkit-input-placeholder{color:#999999;}

/* btn_style_0_con */
.btn_style_0_con{}
.btn_style_0_con .btn_style_0{font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; color:#fff; font-weight:400;
    display:block; padding-top:18px; padding-bottom:18px; background-color:#ff776a; width:100%; box-sizing: border-box; text-align: center;}
.btn_style_0_con .btn_style_0.big{padding-top:43px; padding-bottom:43px;}

.seperate_line_style_0{border-bottom:1px solid #cccccc; height:0;}
.seperate_line_style_1{border-bottom:3px solid #ff5d4e; height:0;}
.seperate_line_style_2{border-bottom:2px solid #cccccc; height:0;}


.mypage_util_con{text-align: center; width:calc(100% + 22px); margin-left:-22px; overflow: hidden;}
.mypage_util_con .mypage_util_list{overflow: hidden;}
.mypage_util_con .mypage_util_list:after{content:""; position: absolute; height:calc(100% - 5px); border-left:1px solid #e5e5e5; top:5px; left:0;}
.mypage_util_con .mypage_util_list:first-child:after{display:none;}
.mypage_util_con .mypage_util_icon{height:91px; line-height:91px;}
.mypage_util_con .mypage_util_btn_con{}
.mypage_util_con .mypage_util_btn{font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; color:#333333; font-weight:400;
    display:block; padding-top:17px; padding-bottom:17px; border:1px solid #cccccc;}
.mypage_util_con .mypage_util_btn_con.type_2 .mypage_util_btn{width:200px; margin-right:auto; margin-left:auto;}
.mypage_util_con .mypage_util_btn.type_2{background-color:#ff776a; border-color:#ff776a; color:#fff;}
.mypage_util_con .mypage_util_btn_con.type_3 .mypage_util_btn{width:260px; margin-right:auto; margin-left:auto;}
.mypage_util_con .mypage_util_desc{font-size:22px; line-height:30px; letter-spacing: -0.05em; color:#666666; font-weight:400;}
.mypage_util_con .mypage_email_input_con{}
.mypage_util_con .mypage_email_input_con .mypage_email_input{font-size:24px; line-height:30px; letter-spacing: -0.05em; color:#111;
    width:100%; height:64px; border:1px solid #cccccc; background-color:#f6f6f6; box-sizing: border-box;
    border-radius:0; overflow: hidden; -webkit-appearance: none; -moz-appearance:none; appearance:none; text-align: left; padding-left:20px; padding-right:20px;}
.mypage_util_con .mypage_email_input_con .mypage_email_input::-webkit-input-placeholder{color:#666666;}
.mypage_util_con .mypage_email_input_con .mypage_email_input:-ms-input-placeholder{color:#666666;}
.mypage_util_con .mypage_email_input_con .mypage_email_input:-moz-placeholder{color:#666666;}
.mypage_util_con .mypage_email_input_con .mypage_email_input::-moz-placeholder{color:#666666;}


/* step_style_0_con */
.step_style_0_wrap{}
.step_style_0_con{}
.step_style_0_wrap .step_style_0_list{font-size:18px; font-size:1.8rem; line-height:85px; line-height:8.5rem; color:#fff; font-weight:700;
    float:left; position: relative; border:4px solid transparent; background-color:#cccccc; width:93px; height:93px; box-sizing: border-box; border-radius:50%;
    text-align: center; margin-right:40px;}
.step_style_0_wrap .step_style_0_list.active{border-color:#ff5d4e; background-color:#fff; color:#ff5d4e;}
.step_style_0_wrap .step_style_0_list.finished{border-color:#ff5d4e; background-color:#ff5d4e; color:#fff;}
.step_style_0_wrap .step_style_0_list.finished:after{border-color:#ff5d4e;}
.step_style_0_wrap .step_style_0_list:after{content:""; position: absolute; right:-44px; top:50%; margin-top:-1px; border-bottom:2px solid #cdcdcd; width:40px;}
.step_style_0_wrap .step_style_0_list:last-child{margin-right:0;}
.step_style_0_wrap .step_style_0_list:last-child:after{display:none;}


/* step_child_con */
.step_child_con{}
.step_child_con .step_child_title{font-size:32px; font-size:3.2rem; line-height:38px; line-height:3.8rem; color:#111111; font-weight:700;}
.step_child_con .step_child_desc{font-size:28px; font-size:2.8rem; line-height:40px; line-height:4.0rem; color:#666666; font-weight:400;}


/* check_style_0_wrap */
.check_style_0_wrap{overflow: hidden;}
.check_style_0_wrap .check_style_0_list_con{}
.check_style_0_wrap .check_style_0_list_con > li{padding-top:29px; padding-bottom:23px; overflow: hidden; border-bottom:1px solid #cccccc;}
.check_style_0_wrap .check_style_0_list_con > li:first-child{border-top:1px solid #cccccc;}
.check_style_0_wrap .check_style_0_con{float:left; position: relative;}
.check_style_0_con .check_style_0{display:none;}
.check_style_0_con .check_style_0 + label{font-size:26px; font-size:2.6rem; line-height:32px; line-height:3.2rem; color:#111111; font-weight:400;
    display:inline-block; vertical-align: middle; padding-left:44px;}
.check_style_0_con.fontweight700 .check_style_0 + label{font-weight: 700;}
.check_style_0_con .check_style_0 + label:after{content:""; position: absolute; top:1px; left:0; width:34px; height:34px;
    background-image: url('../img/check_style_0.png'); background-repeat: no-repeat; background-position: center center;}
.check_style_0_con .check_style_0:checked + label:after{background-image: url('../img/check_style_0_h.png');}
.check_style_0_wrap .check_style_0_arrow{float:right; padding-top:7px; padding-bottom:13px; padding-left:15px; padding-right:15px;}

/* check_style_1_wrap */
.check_style_1_wrap{}
.check_style_1_wrap .check_style_1_con{position: relative;}
.check_style_1_wrap .check_style_1{width:35px; height:35px; position: absolute; top:0; left:0; opacity: 0;}
.check_style_1_wrap .check_style_1 + label{font-size:26px; line-height:35px; color:#666666; font-weight:400;
    display:inline-block; vertical-align: middle; padding-left:54px;}
.check_style_1_wrap .check_style_1 + label:after{content:""; position: absolute; top:0px; left:0; width:35px; height:35px;
    border:2px solid #999999; background-color:#fff; box-sizing: border-box;}
.check_style_1_wrap .check_style_1:checked + label:after{background-image: url('../img/check_style_1.png'); background-repeat: no-repeat; background-position: center center;
    background-color: #ff5d4e;}

/*검색*/
.search_style_0_con{}
.search_style_0_con .input_style_0{width:calc(100% - 180px); padding-left: 20px; padding-right: 20px; margin-right: 10px;}
.search_style_0_con .btn_style_0_con{width: 170px;}
.search_style_0_con .btn_style_0_con .btn_style_0{height: 64px;}

/*검색 nodata*/
.nodata_wrap{}
.nodata_wrap .nodata_title{font-size:30px; font-size:3.0rem; line-height:36px; line-height:3.6rem; letter-spacing: -0.025em; font-weight: 600; color:#111;}
.nodata_wrap .nodata_list_con{}
.nodata_wrap .nodata_list > li{font-size:28px; font-size:2.8rem; line-height:42px; line-height:4.2rem; font-weight: 400; color:#111; word-break: keep-all; margin-bottom: 8px;}
.nodata_wrap .nodata_list > li:last-child{margin-bottom: 0;}

/* 진료과 리스트 */
.department_list_wrap{}
.department_list_wrap .department_list_con{width:calc(100% + 15px); margin-left: -15px; margin-bottom: -15px;}
.department_list_wrap .department_list{padding-left: 15px; margin-bottom: 15px; box-sizing: border-box;}
.department_list_wrap .department_list_inner{position: relative; display: flex; align-items: center; justify-content: center; width:100%; height:220px; padding-bottom: 24px; border:1px solid #ffc5ab; background-color: #fef5f1; box-sizing: border-box;}
.department_list_wrap .department_list_inner .img_con{}
.department_list_wrap .department_list_inner .department_list_title{position: absolute; left:0; bottom:20px; width: 100%; font-size:22px; font-size:2.2rem; line-height:28px; line-height:2.8rem; letter-spacing: -0.025em; font-weight: 400; color:#333; text-align: center;}

/*진료과 소개*/
.intro_img_con{display: flex; flex-wrap: wrap; align-content: center; height: 360px; background-image: url('../img/intro_img_000.jpg'); background-repeat: no-repeat; background-position: center; padding-left: 30px; padding-right: 30px; box-sizing: border-box;}
.intro_img_con .title{font-size:35px; font-size:3.5rem; line-height:60px; line-height:6.0rem; font-weight: 600; color:#ff5d4e;}
.intro_img_con .title > span{border-bottom: 1px solid #ff5d4e;}
.intro_img_con .tel{font-size:26px; font-size:2.6rem; line-height:32px; line-height:3.2rem; font-weight: 500; color:#666;}

.intro_desc_con{}
.intro_desc_con .intro_desc{font-size:28px; font-size:2.8rem; line-height:46px; line-height:4.6rem; font-weight: 400; color:#666; word-break: keep-all; margin-bottom: 14px;}
.intro_desc_con .intro_desc:last-child{margin-bottom: 0;}

/*의료진 리스트*/
.staff_list_con{}
.staff_list_con .staff_list{padding-top: 66px; padding-bottom: 50px; padding-left: 30px; padding-right: 30px; border-bottom: 15px solid #f1f1f1; box-sizing: border-box;}
.staff_list_con .staff_list:last-child{border-bottom:none; padding-bottom: 0;}
.staff_list_con .staff_list_inner{font-size:0px; font-size:0rem; line-height:0px; line-height:0.0rem;}
.staff_list_con .staff_list .img_con{display: inline-block; vertical-align: top; width: 127px;}
.staff_list_con .staff_list .text_con{display: inline-block; vertical-align: top; width: calc(100% - 127px); padding-left: 22px; box-sizing: border-box;}
.staff_list_con .staff_list .name{font-size:30px; font-size:3.0rem; line-height:36px; line-height:3.6rem; letter-spacing: -0.025em; font-weight: 600; color:#111; margin-bottom: 7px;}
.staff_list_con .staff_list .department{font-size:28px; font-size:2.8rem; line-height:40px; line-height:4.0rem; letter-spacing: -0.025em; font-weight: 400; color:#111; word-break: keep-all; margin-bottom: 6px;}
.staff_list_con .staff_list .desc{font-size:28px; font-size:2.8rem; line-height:40px; line-height:4.0rem; letter-spacing: -0.025em; font-weight: 400; color:#111; word-break: keep-all;}
.staff_list_con .staff_list .info_con{border-top:3px solid #988f87;}
.staff_list_con .staff_list .info_con tr{border-bottom: 1px solid #ccc;}
.staff_list_con .staff_list .info_con td{height: 70px; font-size:28px; font-size:2.8rem; line-height:34px; line-height:3.4rem; letter-spacing: -0.025em; font-weight: 400; color:#111;}



/* board_style_0_contents */
.board_style_0_contents{}
.form_header{overflow: hidden; border-bottom:2px solid #f1f1f1; padding-bottom:27px;}
.form_header .form_header_title{font-size:32px; line-height:38px; color:#111111; font-weight:700; float:left;}
.form_header .form_header_title{font-size:32px; line-height:38px; color:#111111; font-weight:700; float:left;}
.form_header .form_copy{font-size:26px; line-height:32px; color:#666666; font-weight:400; float:right;}
.form_style_1_con{}
.form_style_1_con .form_contents_list_con{}
.form_style_1_con .form_contents_list{font-size:0; line-height:0; text-align: left; margin-bottom:10px; min-height:64px;}
.form_style_1_con .form_contents_title{display:inline-block; vertical-align: top; width:190px; padding-top:14px;}
.form_style_1_con .form_contents_title label{font-size:26px; line-height:34px; color:#666666; font-weight:400;}
.form_style_1_con .form_contents_desc_con{display:inline-block; vertical-align: top; width:calc(100% - 190px);}
.form_style_1_con .form_contents_desc{font-size:28px; line-height:34px; color:#111111; font-weight:400;}
.form_style_1_con .form_copy_desc{font-size:26px; line-height:34px; color:#ff5d4e; font-weight:400;}
.form_style_1_con .form_title_1{font-size:28px; line-height:34px; color:#111111; font-weight:700;}
.form_style_1_con .form_desc_1{font-size:28px; line-height:34px; color:#333333; font-weight:400;}
.form_style_1_con .form_desc_2{font-size:25px; line-height:31px; color:#ff5d4e; font-weight:400;}
.form_seperate_box{height:15px; background-color:#f1f1f1;}

.input_style_2_con{}
.input_style_2_con .input_style_2{font-size:28px; line-height:34px; font-weight:400; color:#555555;
    border:1px solid #cccccc; width:273px; height:64px; border-radius:0; overflow: hidden; box-sizing: border-box; padding-left:20px; padding-right:20px;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;}
.input_style_2_con .input_style_2:focus{border-color:#ff5d4e;}
.input_style_2_con .input_style_2.type_2{width:150px;}
.input_style_2_con .input_style_2.type_3{width:229px;}
.input_seperate_icon{border-bottom:1px solid #cdcdcd; width:13px; height:0;}
.input_seperate_icon.bg{border:none; width:24px;}
.col-12.input_style_2_con .input_style_2{width:100%;}
.btn_style_2_con{}
.btn_style_2_con .btn_style_2{font-size:28px; line-height:34px; color:#fff; font-weight:400;
    width:216px; height:64px; background-color:#999999; border-radius:0; overflow: hidden; text-align: center; padding-top:15px; padding-bottom:15px;
    -webkit-appearance: none; -moz-appearance: none; appearance: none; display:inline-block; vertical-align: middle; box-sizing: border-box;}
.btn_style_2_con .btn_style_2.type_2{width:230px;}
.essential{position: relative; padding-left: 16px;}
.essential::after{content: '*'; position:absolute; top:1px; left:0; font-size:23px; font-size:2.3rem; line-height:29px; line-height:2.9rem; letter-spacing: 0.02em; font-weight: 300; color:#f14c96;}

.select_style_0{font-size:28px; line-height:34px; font-weight:400; color:#555555;
    border:1px solid #cccccc; width:150px; height:64px; border-radius:0; overflow: hidden; box-sizing: border-box; padding-left:20px; padding-right:20px;
    -webkit-appearance: none; -moz-appearance: none; appearance: none;
    background-image: url('../img/select_style_0_arrow.png'); background-repeat: no-repeat; background-position: right 10px center;}
.select_style_0.type_2{width:259px;}


.user_name_box{padding-top:36px; padding-bottom:38px; background-color:#fef5f1; font-size:0; line-height:0;}
.user_name_box .user_name_title{font-size:30px; line-height:36px; color:#666666; font-weight:400;}
.user_name_box .user_name{font-size:30px; line-height:36px; color:#ff5d4e; font-weight:700;}

.mypage_desc{font-size:28px; line-height:40px; color:#111111; font-weight:400;}
.naver_color{color:#1bb400 !important;}